@import 'colors.scss';
@import 'breakpoints.scss';

.timeline {
    list-style-type: none;
    position: relative;
    max-width: max-content;
    & > li {
        margin-bottom: 23px;
        line-height: 1.5;
        transition: transform cubic-bezier(0.2, 0.2, 0.56, 1.55) 400ms;

        @include respond-to('large') {
            width: 70%;
        }

        p {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 40px;
        }

        &::before {
            content: ' ';
            background-color: #ffffff;
            display: inline-block;
            border-radius: 50%;
            border: 4px solid $color-accent;
            left: -40px;
            width: 20px;
            height: 20px;
            z-index: 2;
            top: 25px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: border-width cubic-bezier(0.2, 0.2, 0.56, 1.55) 250ms;
        }

        &:hover {
            &::before {
                border-width: 6px;
            }
        }
    }
}
