@import 'breakpoints.scss';

.meta {
    width: 50%;
    @include respond-to('large') {
        width: 26%;
    }
    @include respond-to('small') {
        width: 22%;
    }
}

.buttons {
    a {
        display: flex;
        align-items: center;
        padding: 8px 20px;
        background-color: transparent;
        border: 2px #fff solid;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        transition: all ease-in-out 400ms;

        &:hover {
            background-color: #fff;
            color: #000;
        }

        span {
            display: none;

            @include respond-to('large') {
                display: initial;
            }
        }

        svg {
            font-size: 20px;
            @include respond-to('large') {
                margin-right: 10px;
            }
        }
    }
}
